framework/lib/analyzer.jar
framework/lib/build-analyzer-*.jar
framework/lib/build_systems
framework/lib/test_generation/*
!framework/lib/test_generation/bin
framework/test/*.log
project_repos/*
!project_repos/get_repos.sh
major/
work/
framework/bug-mining/bug_commit_classification/saveT.pt
framework/bug-mining/bug_commit_classification/data/*
!framework/bug-mining/bug_commit_classification/data/example.csv
